<h1>Order Summary</h1>

<br>
<p>Cigerrete Brand: <%= @order.product.name %></p>
<h6> <%= image_tag(@order.product.image) %></h6>
<p>Email: <%= @order.user.email %></p>

<p>quantity: <%= @order.quantity %></p>
<p>subtotal: <%= @order.subtotal %></p>
<p>tax: <%= @order.tax %></p>
<p>total: <%= @order.total %></p>