

<% @products.each do |product| %>
<h2> Brand: <a href="/products/<%= product.id %>"><%= product.name %> </a></h2>
<h3> Price: $<%= product.price %></h3>
<%=image_tag(product.image) %>
<h5> Description: <%= product.description %></h5>
<br>

<% end %>
