
<div class="row">
<% @products.each do |product| %>
  <div class="col-md-4 col-sm-6 product-index-single">
    <div class="well">
      <h2> Brand: <a href="/products/<%= product.id %>"><%= product.name %> </a></h2>
      <h3> Price: $<%= product.price %></h3>
      
      <%=image_tag(product.image) %>
      <h5> Description: <%= product.description %></h5>


    </div>
  </div>

  <% end %>

</div>
