<% if errors
<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single">
        <h1>Create a new brand of ciggerette:</h1>
        <%= form_tag '/products', method: :post do %>
          <div>
            Brand: <input type="text" name="name" value="<%= @product.name %>" placeholder="bob">
          </div>
          <div>
            Price: <input type="text" name="price" value="<%= @product.price %>">
          </div>
          <div>
            Description: <input type="text" name="description" value="<%= @product.description %>"> 
          </div>
          <div>
            Supplier: 
            <select name="supplier_id" class="form-field-dark">
              <% @suppliers.each do |supplier| %>
                <option value="<%= supplier.id %>" <%= 'selected="selected"' if supplier.id == @product.supplier_id %>><%= supplier.name %></option>
              <% end %>
            </select>
          </div>
          <input type="submit" value="Process New Ciggerette" class="btn btn-primary">
        <% end %>
      </div>
    </div>
  </div>
</section>




