<h1>Product Info</h1>
<h2>Brand: <%= @product.name %></h2>
<h3>Price: $<%= @product.price %></h3>
<h4>Tax: $<%= @product.tax %></h4>
<h5>Total: $<%=@product.total %></h5>
<h6> <%= image_tag(@product.image) %></h6>
<h7>Description: <%= @product.description %></h7>

<%= form_tag "/orders", method: "post" do %>
  <input type="hidden" name="form_product_id" value="<%= @product.id %>">
  Quantity: <input type="text" name="form_quantity">
  <input type="submit" value="Buy now!">
     <% end %>

  <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
  <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>