<h1>Product Info</h1>
<h2>Brand: <%= @product.name %></h2>
<h3>Categories</h3>
    <ul>
 
   
    
    
    </ul>
    

<h4>Price: $<%= @product.price %></h4>
<h5>Tax: $<%= @product.tax %></h5>
<h6>Total: $<%=@product.total %></h6>
<h7> <%= image_tag(@product.image) %></h7>
<h8>Description: <%= @product.description %></h8>

<%= form_tag "/carted_products", method: :post do %>
  <input type="hidden" name="form_product_id" value="<%= @product.id %>">
  Quantity: <input type="text" name="form_quantity">
  <input type="submit" value="Add to Cart">
     <% end %>

  <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
  <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>