<h1>Product Info</h1>
<h2>Brand: <%= @product.name %></h2>
<h3>Price: $<%= @product.price %></h3>
<h4> <%= image_tag(@product.image) %></h4>
<h5>Description: <%= @product.description %></h4>


<%= link_to "Edit Brand of Ciggeretes", "/products/#{@product.id}/edit", class: "btn btn-warning" %>
<%= link_to "Delete Brand of Ciggeretes", "/products/#{@product.id}", method: :delete, class: "btn btn-danger" %>



